.mainBody {
    height: calc(100vh - 96px);
}
.mainBody:after {
    z-index: -1;
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc((100vh - 120px) / 2);
    background-color: #1b1b1b;
}

.mainBody img {
    position: absolute;
    width: 45%;
    left: 20px;
    top:-30px;
}

.content {
    position: relative;
}

.textContent {
    position: absolute;
    right: 0;
    top:50px;
    font-weight: 700;
    font-size: 55px;
    color: #1b1b1b;
    margin-left: auto;
    letter-spacing: -0.02px;
}
.textContent h1{
    margin-bottom: 100px;
    font-size: 60px;
}

.whiteTextContent  {
    font-family: 'Tinos', serif;
    font-size: 16px;
    letter-spacing: 2px;
    color: #fff;
    margin-top: 200px;
    text-align: center;
}
.whiteTextContent p {
    padding-bottom: 70px;
}
.whiteTextContent a {
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 30px;
    transition: all linear .3s;
}
.whiteTextContent a:hover {
    background-color: #fff;
    color: #1b1b1b;
}