.slider {
    margin: auto 0;
    padding: 50px;
}

.topic {
    font-size: 35px;
    margin-bottom: 5px;
    text-align: center;
}

.books {
    width: 700px;
}

.bookItem {
    width: 100%;
}

.swiper {
    width: 800px;
}

.next {
    /* color: black; */
}