body {
    margin: 0;
}

img {
    margin: 0;
}

.container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}

.mainBar {
    background: linear-gradient(90deg, #7293c6 20%, #647184 40%, #580502 100%);
}

.topWrapper {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 30%;
}

.links {
    font-size: 30px;
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.fa {
    border-radius: 10px;
    width: 33%;
    margin: 8px;
    text-align: center;
    text-decoration: none;
    align-items: center;
    transition: all linear .3s;
}
.fa:hover {
    opacity: .7;
    color: black;
}
.fa::before {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.faVk {
    background: #3B5998;
    color: white;
}
.faYoutube {
    background: #bb0000;
    color: white;
}
.faTelegram {
    background: #032c85;
    color: white;
}
.faTelegram:hover {
    color: #bb0000;
}
