/* .mainBar {
    background: linear-gradient(90deg, #7293c6 20%, #647184 40%, #580502 100%);
}

.topWrapper {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 30%;
}

.links {
    font-size: 30px;
    width: 70%;
    display: flex;
    justify-content: space-around;
} */



.navbar {
    box-shadow: 0 0 6px rgb(110, 110, 110);
    transition: all linear .2s;
}

.tabsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.menu {
}

.menu ul {
    display: flex;
}

.menu ul li {
    padding: 30px 15px;
    font-weight: 700;
    transition: all linear .3s;
}
.menu ul li :hover{
    color: #C21818;
}

.menu ul .active {
    color: #C21818;
}

.links {
    margin-left: auto;
    margin-right: 20px;
}
.fa {
    border-radius: 333px;
    padding: 7px;
    margin: 8px;
    transition: all linear .3s;
}
.fa:hover {
    opacity: .7;
    color: black;
}
.fa::before {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.faVk {
    background: #3B5998;
    color: white;
}
.faYoutube {
    background: #bb0000;
    color: white;
}
.faTelegram {
    background: #032c85;
    color: white;
}
.faTelegram:hover {
    color: #bb0000;
}


.authorization {
    display: flex;
    justify-content: space-between;
}
.authorization a {
    padding: 10px;
}